{#<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">
             colonne1
        </section>
        <section class="col">
             colonne2
        </section>
        <section class="col">
             colonne3
        </section>
    </div>
</footer>#}

<footer class="bg-light">
         <div class="row" id="my-links">
            <div class="offset-3 col-2">
                  <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in fa-lg"></i></a>
            </div>
            <div class="col-2"> 
                  <a href="http://twitter.com/zaynakaadan"><i class="fab fa-twitter fa-lg"></i></a>
            </div>
            <div class="col-2">
                  <a href="http://github.com/zaynakaadan"><i class="fab fa-github fa-lg"></i></i></a>
            </div>
         </div>
            
               <div id="legal-mention" class="text-center">
               <span id="copyright">©Copyright 2023 - SNOWTRICKS  </span>
               </div>
            
         </div>
      </footer>

