{% extends 'base.html.twig' %}


{% block body %}
<header class="bg-image" style="background-image: url('/assets/img/HMV_ski-freeride1.jpeg');">
    <div class="contents-header text-end pr-3">
        <h1 class="header-title">Site SnowTricks</h1>
        <strong class="sub-title">BORN TO SNOWBOARD</strong>
    </div>
</header>
    <main class="container homepage">
        <section class="row row-section">

            {% for category in categories %}

                <div class="col-12 col-md-6 col-lg-4  mt-3">
                    <div class="card h-100">                   
                        <div class="card-body">
                            <h2 class="card-title">{{ category.name }}</h2>                        
                            <a href="{{ path('categories_list', {slug: category.slug}) }}" class="btn btn-primary">Voir le Trick</a>
                        </div>
                    </div>
                </div>
            {% endfor %}     
        </section>
    </main>

    

{% endblock %}
