{% extends 'base.html.twig' %}


{% block body %}
<header class="bg-image"style="background-image: url('/assets/img/welcome.jpeg'); ">
		<div class="contents-header text-center">
			<h1 class="header-title text-center pt-3">Site SnowTricks</h1>            
			    <strong class="sub-title ">
				    BORN TO SNOWBOARD
			    </strong>
		</div>
</header>
    <main class="container homepage">
        <section class="row row-section">

            {% for category in categories %}

                <div class="col-3 mt-3">
                    <div class="card h-100">                   
                        <div class="card-body">
                            <h2 class="card-title">{{ category.name }}</h2>                        
                            <a href="{{ path('categories_list', {slug: category.slug}) }}" class="btn btn-primary">Voir le Trick</a>
                        </div>
                    </div>
                </div>
            {% endfor %}     
        </section>
    </main>
    <i class="fas fa-arrow-up fa-3x" style="display: block;"></i>






{% endblock %}
