{% extends 'base.html.twig' %}

{% block title %}Administration des tricks!{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Ajouter un  trick</h1>
                {% include "admin/tricks/_form.html.twig" %}
            </div>   
        </section>  
    </main>       
{% endblock %}